.game-info-panel {
	display: flex;
	flex-direction: column;
	gap: 14px;
	min-width: 0;

	// &__players {
	// 	display: flex;
	// 	flex-direction: column;
	// 	gap: 10px;
	// 	min-width: 0;
	// }

	&__meta-header {
		text-align: center;
	}
}

.game-info {
	min-width: 0;
	text-align: center;

	&__result {
		font-weight: 600;
		font-size: 22px;
		text-align: center;
		margin: 5px 0;
	}

	&__result--good {
		//color: var(--app-success, #2e7d32);
	}

	&__result--bad {
		//color: var(--app-danger, #c62828);
	}

	&__result--neutral {
		opacity: 0.85;
	}

	&__eco {
		opacity: 0.85;
	}
}

// .game-info-panel .game-meta-header {
// 	text-align: center;
// }
