<div class="game-info-panel">
	<div class="app-card-flat">
		<!-- <div class="app-card-flat-top game-meta-header">
			
		</div> -->

		<div class="app-card-flat-content">
			<div class="game-info-panel__meta-header">
				<app-game-meta-header-card [vm]="facade.gameMetaHeaderVm()"></app-game-meta-header-card>
			</div>

			<div class="app-separator"></div>

			<div class="game-info-panel__players">
				<app-player-info-card [vm]="facade.playersPanelVm().top"></app-player-info-card>
				<app-player-info-card [vm]="facade.playersPanelVm().bottom"></app-player-info-card>
			</div>

			<div class="app-separator"></div>

			<app-game-details-rows [rows]="facade.gameDetailsRowsVm()"></app-game-details-rows>
		</div>
	</div>
</div>
