<!--
  ConfirmDialog
  - Generic confirmation dialog (destructive or not).
  - "details" is optional and displayed in a <pre> block.
-->

<h2 mat-dialog-title>{{ data.title }}</h2>

<div mat-dialog-content class="confirm-dialog__content">
	<p class="confirm-dialog__message">{{ data.message }}</p>

	<pre *ngIf="data.details" class="confirm-dialog__details">{{ data.details }}</pre>
</div>

<div mat-dialog-actions align="end" class="confirm-dialog__actions">
	<button mat-button type="button" (click)="onCancel()">
		<mat-icon *ngIf="data.cancelIcon" aria-hidden="true">{{ data.cancelIcon }}</mat-icon>
		<span>{{ cancelLabel }}</span>
	</button>

	<ng-container *ngIf="confirmVariant === 'flat'; else textConfirm">
		<button mat-flat-button type="button" [color]="confirmColor" (click)="onConfirm()">
			<mat-icon *ngIf="data.confirmIcon" aria-hidden="true">{{ data.confirmIcon }}</mat-icon>
			<span>{{ confirmLabel }}</span>
		</button>
	</ng-container>

	<ng-template #textConfirm>
		<button mat-button type="button" [color]="confirmColor" (click)="onConfirm()">
			<mat-icon *ngIf="data.confirmIcon" aria-hidden="true">{{ data.confirmIcon }}</mat-icon>
			<span>{{ confirmLabel }}</span>
		</button>
	</ng-template>
</div>
