# --- Node ---
node_modules/
npm-debug.log*
yarn-error.log
pnpm-lock.yaml
yarn.lock

# SQLite / Prisma dev databases
*.db
*.db-wal
*.db-shm
*.sqlite
*.sqlite3
**/prisma/dev.db

# --- Build outputs (général) ---
dist/
dist-esm/
out/
tmp/
temp/

# --- Angular spécifique ---
ui/angular/.angular/
ui/angular/dist/
ui/angular/tmp/
ui/angular/out-tsc/
ui/angular/bazel-out/
ui/angular/.angular/cache

# --- Coverage / tests / cache ---
coverage/
.sass-cache/
.connect.lock
libpeerconnection.log
testem.log
typings/
__screenshots__/

# --- Prisma / SQLite ---
electron/prisma/dev.db


# --- Environments ---
.env
*.env
electron/.env

# --- IDEs / Editors ---
.vscode/
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/

# --- System files ---
.DS_Store
Thumbs.db

# --- Help files ---

help/