.player-card {
	display: flex;
	flex-direction: row;
	gap: 12px;
	//padding: 12px;

	align-items: stretch;

	&__left {
		width: 50px;
		height: 50px;
		border-radius: var(--app-main-radius);
		flex: 0 0 auto;
		border: 2px solid var(--app-border);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__icon {
		font-size: 35px;
		width: 35px;
		height: 35px;
		line-height: 35px;
		opacity: 0.3;
	}

	&--white .player-card__icon {
		color: var(--app-chess-white-icon);
	}
	&--black .player-card__icon {
		color: var(--app-chess-black-icon);
	}

	&__right {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		min-height: 0;
		width: 100%;
	}

	&__right-top {
		flex: 0 0 auto;
		display: grid;
	}

	// placeholder future pieces diff
	&__right-bottom {
		flex: 1 1 auto;
		align-items: center; // vertical
		display: flex;
	}

	&__meta {
		display: flex;
		align-items: center;
		font-size: 12px;
		opacity: 0.85;
		min-width: 0;
	}

	&__side {
		display: inline-flex;
		align-items: center;
		gap: 6px;
		min-width: 0;
	}

	&__side-text {
		font-weight: 600;
		font-size: 16px;
		line-height: 1.2;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__dot {
		width: 20px;
		height: 20px;
		border-radius: var(--app-radius-pill);
		border: 2px solid var(--app-chess-dot-border);
		background: var(--app-chess-dot-bg);
	}

	&--white .player-card__left,
	&--white .player-card__dot {
		background: var(--app-chess-white-bg);
		border-color: var(--app-chess-white-border);
	}

	&--black .player-card__left,
	&--black .player-card__dot {
		background: var(--app-chess-black-bg);
		border-color: var(--app-chess-black-border);
	}

	&__elo {
		white-space: nowrap;
		font-size: 14px;
	}
}
