.controls {
	display: flex;
	justify-content: center; /* centre horizontalement */
	align-items: center; /* centre verticalement */
	gap: 8px; /* espace entre les boutons */
}

.spacer {
	flex: 1 1 auto;
}
