<div class="controls">
	<button matMiniFab (click)="onStartClick()" [disabled]="!canStart">
		<mat-icon aria-hidden="true">first_page</mat-icon>
	</button>

	<button matMiniFab (click)="onPrevClick()" [disabled]="!canPrev">
		<mat-icon aria-hidden="true">chevron_left</mat-icon>
	</button>

	<button matMiniFab (click)="onNextClick()" [disabled]="!canNext">
		<mat-icon aria-hidden="true">chevron_right</mat-icon>
	</button>

	<button matMiniFab (click)="onEndClick()" [disabled]="!canEnd">
		<mat-icon aria-hidden="true">last_page</mat-icon>
	</button>

	<button matMiniFab (click)="onResetClick()">
		<mat-icon aria-hidden="true">delete_forever</mat-icon>
	</button>
</div>
