<div class="app-page">
	<div class="explorer-layout" [class.explorer-layout--qa-collapsed]="qaCollapsed()">
		<section class="explorer-col explorer-col--qa">
			<app-explorer-qa-panel (collapsedChange)="qaCollapsed.set($event)" />
		</section>

		<section class="explorer-col explorer-col--main">
			<div class="explorer-board-center">
				<app-chess-board
					[fen]="facade.fen()"
					[inputEnabled]="inputEnabled()"
					[validateMoveAttempt]="validateMoveAttempt"
					[lastMoveSquares]="facade.lastMoveSquares()"
					[getLegalDestinationsFrom]="getLegalDestinationsFrom"
					[getLegalCaptureDestinationsFrom]="getLegalCaptureDestinationsFrom"
				/>
			</div>

			<app-board-controls
				[canStart]="facade.canStart()"
				[canPrev]="facade.canPrev()"
				[canNext]="facade.canNext()"
				[canEnd]="facade.canEnd()"
				(reset)="onReset()"
				(start)="onStart()"
				(prev)="onPrev()"
				(next)="onNext()"
				(end)="onEnd()"
			/>

			<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="end">
				<mat-tab disabled>
					<ng-template mat-tab-label>
						<mat-icon class="app-tab-icon">timeline</mat-icon>
						Analysis
					</ng-template>
					Content 1
				</mat-tab>

				<mat-tab disabled>
					<ng-template mat-tab-label>
						<mat-icon class="app-tab-icon">timer</mat-icon>
						Time
					</ng-template>
					Content 2
				</mat-tab>

				<mat-tab>
					<ng-template mat-tab-label>
						<mat-icon class="app-tab-icon">content_paste_go</mat-icon>
						Import
					</ng-template>

					Content 3
				</mat-tab>
				<mat-tab disabled>
					<ng-template mat-tab-label>
						<mat-icon class="app-tab-icon">share</mat-icon>
						Export
					</ng-template>

					Content 4
				</mat-tab>
			</mat-tab-group>
		</section>

		<section class="explorer-col explorer-col--right">
			<app-move-list
				[rows]="facade.moveListRows()"
				[variationsByNodeId]="facade.variationsByNodeId()"
				[currentNodeId]="facade.currentNodeId()"
				(nodeSelected)="onNodeSelected($event)"
			></app-move-list>
		</section>
	</div>
</div>
