<div class="app-card-flat">
	<div class="app-card-flat-top explorer-my-next-moves-panel__header">
		<span>Next moves</span>

		<div class="explorer-my-next-moves-panel__header-actions">
			<div class="explorer-my-next-moves-panel__arrows app-density--5">
				<span class="explorer-my-next-moves-panel__arrows-label">Arrows</span>

				<mat-form-field
					appearance="outline"
					subscriptSizing="dynamic"
					class="explorer-my-next-moves-panel__arrow-select-field"
				>
					<mat-select
						[value]="currentArrowMode()"
						(selectionChange)="setArrowMode($event.value)"
						aria-label="My next moves arrow mode"
					>
						<mat-option value="off">Off</mat-option>
						<mat-option value="top3">3</mat-option>
						<mat-option value="top5">5</mat-option>
						<mat-option value="all">All</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<button
				type="button"
				mat-stroked-button
				class="mat-stroked-button-d-5 explorer-my-next-moves-panel__filter-button"
				(click)="openFilterDialog()"
				[matTooltip]="'Open my next moves filters'"
			>
				<mat-icon aria-hidden="true">filter_list</mat-icon>
				{{ filterButtonLabel() }}
			</button>
		</div>
	</div>

	<div class="app-card-flat-content-fit explorer-my-next-moves-panel__content">
		<app-section-loader [loading]="isLoading()" label="Loading move statistics…" [mask]="true">
			<div class="explorer-my-next-moves-panel__body">
				<ng-container *ngIf="loadError() as error; else nextMovesContent">
					<div class="explorer-my-next-moves-panel__error">
						{{ error }}
					</div>
				</ng-container>

				<ng-template #nextMovesContent>
					<ng-container *ngIf="myNextMovesResult() as result; else emptyState">
						<div class="explorer-my-next-moves-panel__table">
							<app-explorer-my-next-moves-table
								[rows]="result.moves"
								[positionSummary]="result.positionSummary"
								(moveSelected)="onMoveSelected($event)"
								(moveHovered)="onMoveHovered($event)"
							></app-explorer-my-next-moves-table>
						</div>
					</ng-container>
				</ng-template>

				<ng-template #emptyState>
					<div class="explorer-my-next-moves-panel__placeholder">
						Move statistics will appear here for the current position.
					</div>
				</ng-template>
			</div>
		</app-section-loader>
	</div>
</div>
