<div class="app-card-flat">
	<div class="app-card-flat-top explorer-my-next-moves-panel__header">
		<span>Movements played</span>

		<div class="explorer-my-next-moves-panel__header-actions">
			<div class="explorer-my-next-moves-panel__arrows">
				<span class="explorer-my-next-moves-panel__arrows-label">Arrows</span>

				<mat-button-toggle-group
					class="explorer-my-next-moves-panel__arrows-toggle"
					[value]="getArrowMode()"
					(change)="setArrowMode($event.value)"
					aria-label="My next moves arrow mode"
				>
					<mat-button-toggle value="off">Off</mat-button-toggle>
					<mat-button-toggle value="top3">3</mat-button-toggle>
					<mat-button-toggle value="top5">5</mat-button-toggle>
					<mat-button-toggle value="all">All</mat-button-toggle>
				</mat-button-toggle-group>
			</div>

			<button
				type="button"
				mat-stroked-button
				class="mat-stroked-button-d-5 explorer-my-next-moves-panel__filter-button"
				(click)="openFilterDialog()"
				[matTooltip]="'Open my next moves filters'"
			>
				<mat-icon aria-hidden="true">filter_list</mat-icon>
				{{ filterButtonLabel() }}
			</button>
		</div>
	</div>

	<div class="app-card-flat-content-fit explorer-my-next-moves-panel__content">
		<app-section-loader [loading]="isLoading()" label="Loading move statistics…" [mask]="true">
			<div class="explorer-my-next-moves-panel__body">
				<ng-container *ngIf="loadError() as error; else nextMovesContent">
					<div class="explorer-my-next-moves-panel__error">
						{{ error }}
					</div>
				</ng-container>

				<ng-template #nextMovesContent>
					<ng-container *ngIf="myNextMovesResult() as result; else emptyState">
						<div class="explorer-my-next-moves-panel__table">
							<app-explorer-my-next-moves-table
								[rows]="result.moves"
								[positionSummary]="result.positionSummary"
							></app-explorer-my-next-moves-table>
						</div>
					</ng-container>
				</ng-template>

				<ng-template #emptyState>
					<div class="explorer-my-next-moves-panel__placeholder">
						Move statistics will appear here for the current position.
					</div>
				</ng-template>
			</div>
		</app-section-loader>
	</div>
</div>
