:host {
	display: block;
	width: 100%;
	height: 100%;
	min-width: 0;
	min-height: 0;
}

.board-shell {
	width: 100%;
	height: 100%;
	min-width: 0;
	min-height: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.board-host {
	/* Real size is applied via TS (inline width/height in px). */
	width: 100%;
	height: 100%;
}
