.app-card-flat {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	background: var(--app-bg-plus-3);
	//border: 1px solid var(--app-border);
}

.app-card-flat-top {
	padding: 10px 15px;

	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	font-weight: 700;
	font-size: 14px;
	border-bottom: 1px solid var(--app-border);
	//background: var(--app-surface-1);
	background: var(--app-bg-plus-2);
}

.app-card-flat-content {
	padding: 15px 15px;
}

.app-card-flat-content-fit {
	padding: 0px 0px;
}

.app-card-flat-bottom {
	padding: 10px 15px;
}

.app-card-flat-bottom,
.app-card-flat-bottom-fit {
	background: var(--app-bg-plus-1);
}

/* Generic card used for small blocks (run context, etc.) */
.app-card {
	border: 1px solid var(--app-border);
	border-radius: var(--app-radius-md);
	background: var(--app-bg-less-1);
	// padding: 10px 12px;
}

.app-card-top {
	padding: 10px 15px;
}
.app-card-top,
.app-card-top-fit {
	background: var(--app-bg-plus-1);
	font-weight: 700;
	font-size: 16px;
}

.app-card-content {
	padding: 20px 30px;
}
.app-card-content-fit {
	padding: 0px 0px;
}

.app-card-bottom {
	padding: 10px 15px;
}

.app-card-bottom,
.app-card-bottom-fit {
	background: var(--app-bg-plus-1);
}
