.game-meta-card {
	display: flex;
	flex-direction: row;
	gap: 12px;
	align-items: stretch;

	&__left {
		width: 50px;
		height: 50px;
		border-radius: 6px;
		flex: 0 0 auto;

		// border: 2px solid var(--app-border);
		display: flex;
		align-items: center;
		justify-content: center;

		// background: var(--app-card);
	}

	&__icon {
		font-size: 32px;
		width: 32px;
		height: 32px;
		line-height: 32px;
		opacity: 0.55;
	}

	&__right {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		min-width: 0;
	}

	&__line1 {
		font-weight: 600;
		font-size: 14px;
		line-height: 1.2;

		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__line2 {
		margin-top: 3px;
		font-size: 13px;
		opacity: 0.7;

		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
